*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-green: rgb(108, 219, 81);
	--primary-white: rgba(209, 206, 209, 0.801);
	--primary-black: rgb(22, 22, 22);
}

html {
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
}

body {
	background-color: var(--primary-white);
	max-width: 100vw;
}

main {
	min-height: calc(100vh - 50px);
	min-width: 100vw;
}

a {
	color: none;
	text-decoration: none;
}

li {
	list-style-type: none;
}

button {
	border: none;
	background-color: transparent;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

.d-inline {
	display: inline;
}

.d-block {
	display: block;
}

.navbar {
	justify-content: space-between;
	height: 50px;
	width: 100vw;
	background-color: rgba(26, 26, 26, 0.562);
	padding: 0 20px;
	font-weight: 600;
}

.logo-x-small {
	height: 50px;
	width: 50px;
}

.navbar-nav {
	width: 80%;
	display: flex;
	justify-content: space-around;
}

.nav-item {
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
	color: rgba(245, 250, 242, 0.8);
	text-align: center;
}

.nav-item:hover {
	background-color: rgba(204, 204, 204, 0.712);
	text-decoration: underline;
}

.nav-item:hover a {
	color: var(--primary-black);
}

.nav-links {
	height: 100%;
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.nav-link-text {
	color: rgba(245, 250, 242, 0.8);
	font-size: 1.2rem;
}

.nav-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-primary {
	border: solid 3px var(--primary-green);
	height: 40px;
	width: 90px;
	border-radius: 30px;
	color: var(--primary-green);
}

.btn-primary:hover {
	color: var(--primary-white);
	background-color: var(--primary-green);
	border: none;
	cursor: pointer;
}

.shop-btn {
	margin-right: 15px;
}

.nav-collapse {
	display: none;
	position: absolute;
	top: 10px;
	right: 30px;
	height: 50px;
	width: 50px;
	z-index: 10;
	cursor: pointer;
}

.nav-collapse:hover {
	cursor: pointer;
}

.nav-collapse-outer {
	height: 100%;
	width: 100%;
	border: solid 2px var(--primary-white);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.nav-collapse-inner {
	height: 2px;
	width: 30px;
	background-color: var(--primary-white);
}

.nav-close-outer {
	display: none;
	position: absolute;
	top: 10px;
	right: 30px;
	height: 50px;
	width: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 9;
}

.nav-close-outer:hover {
	cursor: pointer;
}

.hero {
	background-image: url("../images/hero_bg_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	margin-top: -50px;
	text-align: center;
}

.hero h1 {
	text-decoration: underline;
}

.hero-title {
	color: var(--primary-white);
	font-size: 7rem;
}

.main_logo {
	min-width: 600px;
	min-height: 300px;
	height: 75%;
	max-width: 50%;
	max-height: 100%;
}

.no-excuses-container {
	min-height: 300px;
	background-color: var(--primary-black);
	height: 500px;
	max-height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	position: relative;
}

.excuses {
	font-size: 8rem;
	color: rgb(74, 221, 37);
	position: relative;
	z-index: 10;
}

.excuses-text {
	color: var(--primary-green);
	font-size: 7rem;
	position: relative;
	z-index: 10;
}

.excuse-default {
	color: var(--primary-green);
	text-decoration: line-through;
	position: absolute;
}

.excuse-1 {
	top: 40px;
	right: 30px;
	transform: rotate(30deg);
	font-size: 2rem;
}

.excuse-2 {
	top: 50px;
	left: 30px;
	font-size: 2rem;
	transform: rotate(-15deg);
}

.excuse-3 {
	bottom: 50px;
	left: 40px;
	font-size: 1.5rem;
	transform: rotate(-40deg);
}

.excuse-4 {
	top: 0;
	right: 50%;
	font-size: 1.5rem;
}

.excuse-5 {
	bottom: 10px;
	right: 30%;
	font-size: 1.2rem;
}

.excuse-6 {
	bottom: 10%;
	right: 30px;
	font-size: 2rem;
	transform: rotate(30deg);
}

.about-overview {
	min-height: 600px;
}

.home-about-header {
	margin: 0 auto;
	text-align: center;
	font-size: 1.5rem;
	color: var(--primary-black);
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 100vw;
}

.cards-wrapper {
	min-height: 65%;
	/* max-width: 100%; */
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card-outer {
	min-height: 550px;
	height: 550px;
	width: 400px;
	max-width: 100%;
}

.card-head {
	height: 60%;
	width: 100%;
}

.card-img {
	height: 100%;
	width: 100%;
	object-fit: fill;
	object-position: center center;
}

.card-body {
	height: 40%;
	width: 100%;
	padding: 10px;
}

.card-text {
	font-size: 1.2rem;
}

.access-text {
	text-align: center;
	margin-bottom: 50px;
}

.access-logo {
	display: block;
	height: 450px;
	width: 450px;
	border-radius: 50%;
	margin: 0 auto;
	max-width: 100%;
}

/* Width media queries */
@media (max-width: 1024px) {
	.hero-title {
		font-size: 6rem;
	}
	.cards-wrapper {
		flex-direction: column;
	}
	.card-outer {
		margin: 20px 0;
	}
}

@media (max-width: 940px) {
	.excuses-text {
		font-size: 5rem;
	}
	.excuses {
		font-size: 6rem;
	}
}

@media (max-width: 868px) {
	.hero-title {
		font-size: 5rem;
	}
}

@media (max-width: 768px) {
	.navbar {
		padding: 0;
	}
	.nav-collapse {
		display: block;
	}
	.nav-btn {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.shop-btn {
		margin: 0;
	}
	.navbar-nav {
		position: fixed;
		padding: 0;
		height: 30vh;
		width: calc(100vw - 15px);
		background-color: var(--primary-black);
		display: none;
		flex-direction: column;
		padding-bottom: 20px;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 550px) {
	.hero-title {
		font-size: 3rem;
	}
}

@media (max-width: 500px) {
	.excuses {
		font-size: 4rem;
	}
	.excuses-text {
		font-size: 3rem;
	}
}

/* Height media queries */

@media (max-height: 500px) {
	.hero-title {
		font-size: 3rem;
	}
}
